<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %>

<% helpers.includeCss("pro/account.less") %>
<% helpers.setHtmlTitle(appjet.config.customBrandingName +": My Account") %>

<%
  template.inherit('ui.ejs');

  helpers.includeJs("pad_modals.js");
  helpers.includeJs('modals.js');
  helpers.includeJs('jquery.validate.js');
  helpers.includeJs('jquery.placeholder.js');

%>


<div class="fpcontent">
  <div class="my-account">
    <%- messageDiv() %>
    <%- errorDiv() %>

<style>
  th {
    text-align:right;
  }
  input {
    padding:2px;
  }
  #padpage {
    min-height: 300px;
  }
</style>

    <h2>Dropbox Sync</h2>

    <div style="font-size:13px; text-align:right; padding-top:0px;">
      <table style="text-align:left; "><tr><td>
      <% if (!dropboxConnected) { %>
        If you connect your Dropbox account, all your pads will be synced to Dropbox and available for offline reading there. <br/><br/>

        <%- template.use('button', null, {
          className: 'connect-dropbox-button',
          'data-click': 'connect-dropbox',
          buttonType: 'submit',
          label: N_('Connect to Dropbox')
        }); %>
        <br><br>
        <span style="font-size:11px;">(Please allow 35 minutes after sync for the Hackpad folder to appear.)</span>

      <% } else { %>
        Your Dropbox account is connected and pads are being synced to Dropbox for offline reading. <br/><br/>

        <%- template.use('button', null, {
          'data-click': 'disconnect-dropbox',
          className: 'disconnect-dropbox-button',
          buttonType: 'submit',
          label: N_('Disconnect Dropbox')
        }); %>


      <% } %>
      </td></tr></table>
    </div>
    <h2>API Key</h2>

    <table>
      <tr>
        <th>Client ID:</th>
        <td class="ti" data-click="highlight-input"><%- INPUT({type: 'text', readonly:'', name: '',  value: clientId}) %></td>
      </tr>
      <tr>
        <th>Secret:</th>
        <td class="ti" data-click="highlight-input"><%- INPUT({type: 'text', readonly:'', name: '', value: apiToken}) %></td>
      </tr>

    </table>
  </div>
</div>

